.adminPanelItemLeft {
	margin: 30px 0 0 50px;
}

.marginLeft10 {
	margin: 0 0 0 10px;
}

.marginLeft20 {
	margin: 0 0 0 20px;
}

.tabPanel {
	margin: 25px;
}

.gridPanel  {
	margin: 60px 0 0 0;
}

.modalWindow {
	padding: 5px;
}